# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Keras / TensorFlow cache
.keras/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code / IDE
.vscode/
.idea/
tempCodeRunnerFile.py
*.swp
*.swo

# Operating System Files
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
